---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import VideoSection from "../components/sections/VideoSection.astro";
import FaqSection from "../components/sections/FaqSection.astro";
import PartnersSection from "../components/sections/PartnersSection.astro";
import ContactFormSection from "../components/sections/ContactFormSection.astro";
import SiteFooter from "../components/sections/SiteFooter.astro";
---

<Layout>
  <div class="sunburst-bg min-h-screen">
    <div class="halftone halftone-top-left"></div>
    <div class="halftone halftone-bottom-right"></div>
    <div class="sunburst-pattern"></div>

    <HeroSection />
    <AboutSection />
    <VideoSection />
    <FaqSection />
    <ContactFormSection />
    <PartnersSection />
    <SiteFooter />
  </div>
</Layout>
