---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import VideoSection from "../components/sections/VideoSection.astro";
import FaqSection from "../components/sections/FaqSection.astro";
import SignupSection from "../components/sections/SignupSection.astro";
import LegalSection from "../components/sections/LegalSection.astro";
import SiteFooter from "../components/sections/SiteFooter.astro";
---

<Layout>
  <div class="sunburst-bg min-h-screen">
    <div class="halftone halftone-top-left"></div>
    <div class="halftone halftone-bottom-right"></div>

    <HeroSection />
    <AboutSection />
    <VideoSection />
    <FaqSection />
    <SignupSection />
    <LegalSection />
    <SiteFooter />
  </div>
</Layout>
