---
const title = "Magdeburger Baseball Camp - Mit Coaches aus den USA";
const description =
  "Baseball Camp in Magdeburg vom 5. bis 9. Juli. Professionelles Training mit Coaches aus den USA.";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <title>{title}</title>
</head>
